
.log_book {
	padding: 20px;
	margin: 10px;
	width: 675px;
	margin:15px;
	font-size: 15px;
	color: white;
  border: solid 1px #000;

}

.yourform {
  padding: 5px;
}

label {
  padding: 10px;
}

.commentsField {
  float: left;
}

/* This is what the form comes up with... */
body
{
    font-family:Gill Sans MT;
    padding:20px;
    width: 675px;
    margin: 10px;
    border-radius: 30px;
    float: left;
}

.fieldwrapper {
  float: left;
}

button {
  float: right;
}


#formArea
{
  float:right;
  height:45px;
}

.text
{
    width: 600px;
}


.hours
{
    width: 400px;
}

.yourLSSR
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}

legend
{
    padding:0px 10px;
    background: #cc8000;
    color:#FFF;
}
input.add
{
    float:right;

}
input.fieldname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}



/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}